

@{
    ViewBag.Title = "My Web Design Journey";
    ViewBag.Message = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Test</title>
    <link href="~/Content/media.css" rel="stylesheet" />
</head>
<body>
    <div class="section-contact">
        <div class="contact-content">
            <div class="contact-text">
               <section style="padding-left: 11%;">
                <div class="back"><h4 class="contact-heading">Send me a message!</h4>
                    <p class="questions-heading">Have any questions or proposals? just want to say hello? Please do 😄.</p>
                   <div>
                    <form>
                        <div class="input-container"><label for="name">Name</label><input name="from_name" class="control " type="text" id="name"></div>
                        <div class="input-container"><label for="email">Email</label><input type="text" id="email" name="email" class="control "></div>
                        <div class="input-container"><label for="message">Message</label>
                        <textarea id="message" name="message" rows="5" cols="40" class="control "></textarea></div>
                        <button class="button send-button">Send</button>
                        </form>
                       </div>
                   </div>
            </section>
            </div>  
        </div>
    </div>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const sendButton = document.querySelector('.button'); 
        sendButton.addEventListener('click', function () {
            location.reload(); 
        });
    });

</script>








