

@{
    ViewBag.Title = "My Web Design Journey";
    ViewBag.Message = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Test</title>
    <link href="~/Content/media.css" rel="stylesheet" />

    <style>

        .section-contact {
            font-family: Roboto Slab, serif;
            height: 100%; /* Fill container */
            color: #ffff;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 1px;
            line-height: 1.6;
            margin-bottom: 4.2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; /* Align to the top */
            padding: 50px 0; /* Add padding for spacing */
        }

        .contact-content {
            width: 60%; /* Adjust width to have a better layout */
            display: flex;
            align-items: flex-start; /* Align items to the top */
            gap: 20px; /* Spacing between text and image */
            flex-wrap: wrap; /* Allow content to wrap if space is constrained */
            padding-top: 150px;
            height: 100%;
            margin-left: 20%;
        }

        .contact-text {
            flex: 1; /* Take up remaining space */
            max-width: 100%; /* Limit the max width of text */
        }

       

        a:visited {
            color: #fff;
            font-size: 2.4rem;
            text-decoration: none;
        }
        .contact-heading {
            color: #fff;
            font-size: 3.8rem;
            font-weight: 500;
            margin: 0;
            padding: 2.4rem;
            text-align: center;
        }

        h4 {
            display: block;
            margin-block-start: 1.33em;
            margin-block-end: 1.33em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            unicode-bidi: isolate;
        }
        .questions-heading {
            color: #adb5bd;
            font-size: 2.4rem;
            margin: 0 0 4.2rem;
            text-align: center;
        }
        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;
        }
        .input-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

            .input-container input {
                border: 0;
                background-color: #e9ecef;
                border-bottom: 1px solid #868e96;
                border-radius: 6px;
                background-color: #868e96;
            }

                .input-container input:focus {
                    background-color: #999;
                    border: 1px solid black;
                }

            .input-container input,
            .input-container textarea {
                margin-bottom: 1.4rem;
                width: 100%;
                padding: 0.8rem;
                background-color: rgb(59, 73, 87);
            }

            .input-container textarea {
                border-radius: 14px;
                margin-bottom: 3.4rem;
            }

                .input-container textarea:focus {
                    background-color: #999;
                    border: 1px solid black;
                }
        .button {
            background-color: initial;
            border: 1px solid #888;
            color: #fff;
            cursor: pointer;
            font-weight: 700;
            padding: 1rem 4.2rem;
            text-transform: uppercase;
            transition: all .7s;
            margin-left: 45%
        }

    </style>
</head>
<body>
    <div class="section-contact">
        <div class="contact-content">
            <div class="contact-text">
               <section style="padding-left: 11%;">
                <div class="back"><h4 class="contact-heading">Send me a message!</h4>
                    <p class="questions-heading">Have any questions or proposals? just want to say hello? Please do 😄.</p>
                   <div>
                    <form>
                        <div class="input-container"><label for="name">Name</label><input name="from_name" class="control " type="text" id="name"></div>
                        <div class="input-container"><label for="email">Email</label><input type="text" id="email" name="email" class="control "></div>
                        <div class="input-container"><label for="message">Message</label>
                        <textarea id="message" name="message" rows="5" cols="40" class="control "></textarea></div>
                        <button class="button send-button">Send</button>
                        </form>
                       </div>
                   </div>
            </section>
            </div>  
        </div>
    </div>
</body>
</html>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const sendButton = document.querySelector('.button'); 
        sendButton.addEventListener('click', function () {
            location.reload(); 
        });
    });

</script>








