@{
    ViewBag.Title = "Home Page";
}
<style>
    .landing-container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 75%;
        justify-content: center;
        position: relative;
        width: 100%;
       margin-top: 100px;
    }
    .heading-1 {
        color: #fff;
        font-weight: 400;
        text-align: center;
        font-size: 5.2rem;
        letter-spacing: 1.6px;
        line-height: .8;
        margin: 2.6rem;
    }
        .heading-1 span {
            color: #ffe066 !important;
        }
    .heading-2 {
        color: #fff;
        font-size: 2.4rem;
        line-height: 1.05;
        margin: 0 0 4.2rem;
    }
 

</style>
<div class="landing-container">
    <h1 class="heading-1">Hello, I'm <span>Joe.</span></h1>
    <p class="heading-2">I'm a <span class="sketch-highlight">web developer.</span></p>
</div>
