@{
    ViewBag.Title = "Home Page";
}
<div class="landing-container">
    <h1 class="heading-1">Hello, I'm <span>Joe.</span></h1>
    <p class="heading-2">I'm a <span class="sketch-highlight">web developer.</span></p>
</div>
